@import "tailwindcss";

@theme {
  --color-header: #ffb1b2;
  --height-header: 4rem;
  --height-footer: 8rem;
  --shadow-card: rgba(99, 99, 99, 0.2) 0px 0px 6px 0px;
}

html {
  background-color: #fff;
}

@media (min-width: 480px) and (max-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
